# Ignora tudo
*

# Mantém o próprio .gitignore
!.gitignore

# Mantém o script solicitado
!copy-files.sh

# Mantém as pastas solicitadas e todo conteúdo delas
!cliente/cliente.py
!README.md

!servidor/
!servidor/**

!roteador/
!roteador/**

!Dockerfile
!docker-compose.yml
!lab.sh

# adiciona os relatórios em pasta
!relatorios/
!relatorios/**
