# Ignora tudo
*

# Mantém o próprio .gitignore
!.gitignore

# Mantém o script solicitado
!copy-files.sh

# Mantém as pastas solicitadas e todo conteúdo delas
!cliente/cliente.py

!servidor/
!servidor/**

!roteador/
!roteador/**

!Dockerfile
!docker-compose.yml
!lab.sh

# trabalhos
!relatorios/
!trabalhos/**